# Simple configuration for an HTTP proxy listening on port 80 on all
# interfaces and forwarding requests to a single backend "servers" with a
# single server "server1" listening on 127.0.0.1:8000
global
    daemon
    maxconn 256

defaults
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

resolvers my-dns
    parse-resolv-conf

frontend sftp-in
    mode tcp
    bind *:"${SFTP_PROXY_PORT}"
    default_backend sftp-out

backend sftp-out
    description SFTP backend
    mode tcp
    server sftp1 "${SFTP_HOST}":"${SFTP_PORT}" maxconn 32 resolvers my-dns
